APP_IDENTIFIER=com.thcathy.barkoff
ANDROID_PACKAGE_NAME=com.thcathy.barkoff
APPLE_ID=thcathy@gmail.com
APPLE_TEAM_ID=DU483K8F48

APP_STORE_CONNECT_API_KEY_ID=
APP_STORE_CONNECT_API_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_PATH=

PLAY_STORE_JSON_KEY=
PLAY_TRACK=internal

BARK_OFF_UPLOAD_STORE_FILE=
BARK_OFF_UPLOAD_STORE_PASSWORD=
BARK_OFF_UPLOAD_KEY_ALIAS=barkoff
BARK_OFF_UPLOAD_KEY_PASSWORD=
